{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4 shadow-sm">
      <h4>Create account</h4>
      <form method="post">
        <div class="mb-3">
          <label>Username</label>
          <input class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input class="form-control" name="password" type="password" required>
        </div>
        <button class="btn btn-primary">Sign up</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
